# Development Tools.
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/

# Python Bytecode.
*.py[cod]

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
/checkpoints/*
!/checkpoints/*.yaml
/outputs/

# Test outputs.
test_*.wav

# CUDA kernel build artifacts.
indextts/s2mel/modules/bigvgan/alias_free_activation/cuda/build/

# NeMo cache.
indextts/utils/nemo_es_cache/
indextts/utils/tagger_cache/
